.intro {
  &__list {
    @include list-default;
  }

  &__item {
    min-height: 400px;
    padding: 102px 19.6% 30px;
    box-sizing: border-box;
  }

  &__title {
    margin: 0;
    font-family: $roboto;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
  }

  &__sub-title {
    margin: 8px 0 33px;
    font-family: $roboto;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    max-width: 400px;
  }

  &__link {
    display: block;
    width: 234px;
    font-family: $roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 17px 0 19px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__item--cards {
    background-color: #2d36f3;
    background: url("../img/bg-slide3-desktop.jpg") no-repeat center;
    background-size: cover;

    h1 {
      color: $bg-color;
    }

    p {
      color: #e0e1ea;
    }

    a {
      background-color: $bg-color;
      color: $black-color;
    }
  }

  &__item--man {
    background-color: #dee2ed;
    background: url("../img/bg-slide1-desktop.jpg") no-repeat center;
    background-size: cover;

    h1 {
      color: $black-color;
    }

    p {
      color: #2b3c4f;
    }
  }

  &__item--woman {
    background-color: #e7f1fd;
    background: url("../img/bg-slide2-desktop.jpg") no-repeat center;
    background-size: cover;

    h1 {
      color: $black-color;
    }

    p {
      color: #2b3c4f;
    }

    a {
      background-color: #2c36f2;
      color: $bg-color;
      width: 243px;
    }
  }

  &__swiper-pagination {
    margin-bottom: 23px;
  }
}

.swiper-pagination-bullet {
  background-color: #2028b6;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $bg-color;
}

@media (max-width: $tablet-width) {
  .intro {
    &__item {
      min-height: 300px;
      padding: 65px 11.2% 10px;
    }

    &__title {
      font-size: 46px;
      line-height: 54px;
    }

    &__sub-title {
      margin: 6px 0 31px;
      font-size: 18px;
      line-height: 21px;
      max-width: 320px;
    }

    &__link {
      width: 206px;
      font-size: 16px;
      line-height: 16px;
      padding: 15px 0 17px;
    }

    &__item--cards {
      background: url("../img/bg-slide3-tablet.jpg") no-repeat center;
      background-size: cover;
    }

    &__item--man {
      background: url("../img/bg-slide1-tablet.jpg") no-repeat center;
      background-size: cover;
    }

    &__item--woman {
      background: url("../img/bg-slide2-tablet.jpg") no-repeat center;
      background-size: cover;

      a {
        width: 206px;
      }
    }

    &__swiper-pagination {
      margin-bottom: -2px;
    }
  }
}

@media (max-width: $mobile-width) {
  .intro {
    &__item {
      min-height: 226px;
      padding: 40px 4.7% 10px;
    }

    &__title {
      font-size: 38px;
      line-height: 45px;
    }

    &__sub-title {
      margin: 5px 0 26px;
      font-size: 16px;
      line-height: 19px;
      max-width: 200px;
    }

    &__link {
      width: 188px;
      font-size: 14px;
      line-height: 16px;
      padding: 14px 0 13px;
    }

    &__item--cards {
      background: url("../img/bg-slide3-mobile.jpg") no-repeat center;
      background-size: cover;
    }

    &__item--man {
      background: url("../img/bg-slide1-mobile.jpg") no-repeat center;
      background-size: cover;

      p {
        width: 150px;
      }
    }

    &__item--woman {
      background: url("../img/bg-slide2-mobile.jpg") no-repeat center;
      background-size: cover;

      a {
        width: 188px;
      }
    }

    &__swiper-pagination {
      margin-bottom: -7px;
    }
  }


  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 3px;
  }
}
