.modal-success {
  width: 500px;
  background-color: $bg-color;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 58px 68px 56px;

  &__btn-close {
    position: absolute;
    right: 55px;
    top: 55px;
    width: 17px;
    height: 17px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      height: 2px;
      background-color: $black-color;
      left: -3px;
      top: 8px;
      transition: all .3s ease-in;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      opacity: 0.7;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &__title {
    font-family: $roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: $black-color;
    margin: 0 0 20px;
  }

  &__subtitle {
    font-family: $roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #394959;
    margin: 0;
  }

}
