.services {
  @include wrap-desktop;
  padding-top: 60px;
  min-height: 673px;

  &__tab-list {
    @include list-default;
    display: flex;
    width: 100%;
  }

  &__tab-item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    span {
      margin-left: 10px;
      font-family: $roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #4c4b51;
    }
  }

  &__tab-item--active {
    background-color: $bg-color;

    span {
      color: $black-color;
    }
  }

  &__picture-tablet,
  &__picture-mobile {
    display: none;
  }

  &__block {
    display: flex;
    background-color: $bg-color;
    padding: 60px 135px 60px 70px;
    justify-content: space-between;
    animation-name: fade;
    animation-duration: 1s;
  }

  &__title-container {
    width: 100%;
  }

  &__title {
    font-family: $roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: $black-color;
    margin: -8px 0 18px;
    max-width: 410px;
  }

  &__advantages-list {
    @include list-default;
    display: flex;
    flex-direction: column;
    max-width: 395px;
  }

  &__advantages-item {
    font-family: $roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $black-color;
    padding-left: 22px;
    position: relative;
    margin-bottom: 5px;
    max-width: 375px;

    &::before {
      content: "";
      display: block;
      position: relative;
      width: 13px;
      height: 10px;
      background: url("../img/ok-adv.svg") no-repeat center;
      background-size: cover;
      top: 15px;
      left: -23px;
    }
  }

  &__link {
    display: block;
    width: 198px;
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 0;
    background-color: $blue-color;
    color: $bg-color;
    margin-top: 30px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__description {
    margin: 24px 0 0 0;
    font-family: $roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $black-color;
    max-width: 340px;

    a {
      font-weight: 700;
      color: $black-color;
      text-decoration: underline;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  &__block--credits {
    padding: 55px 135px 54px 70px;

    .services__title {
      max-width: 300px;
      margin: -3px 0 18px;
    }
  }

  &__block--insurance {
    padding: 48px 135px 49px 70px;

    .services__title {
      max-width: 340px;
      margin: 4px 0 18px;
    }
  }

  &__block--online {
    padding: 53px 135px 52px 70px;

    .services__title {
      max-width: 410px;
      margin: 0 0 17px;
    }
  }

  &__hide {
    display: none;
  }

  &__show {
    display: flex;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  &__swiper-pagination {
    display: none;
  }
}

@keyframes fade {
  from {
    opacity: 0.2
  }
  to {
    opacity: 1
  }
}

@media (max-width: $desktop-width) {
  .services {
    &__picture-desktop {
      width: calc(440 / #{$vw-desktop} * 100vw);
      height: calc(290 / #{$vw-desktop} * 100vw);
      margin-left: 20px;
    }

    &__block,
    &__block--credits,
    &__block--insurance,
    &__block--online {
      padding-right: calc(135 / #{$vw-desktop} * 100vw);
    }
  }
}

@media (max-width: $tablet-width) {
  .services {
    padding: 0;
    min-height: 380px;
    padding-bottom: 80px;

    &__tab-list {
      display: none;
    }

    &__picture-desktop {
      display: none;
    }

    &__picture-tablet {
      display: block;
      width: 289px;
      height: 260px;
    }

    &__block {
      min-height: 380px;
      padding: 60px 45px 60px 45px;
    }

    &__title {
      font-size: 18px;
      line-height: 25px;
      margin: -5px 0 13px;
      max-width: 305px;
    }

    &__advantages-item {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 5px;
      max-width: 355px;
    }

    &__link {
      margin-top: 25px;
      padding: 16px 0 15px;
    }

    &__description {
      margin: 25px 0 0;
      font-size: 16px;
      line-height: 22px;
      max-width: 305px;
    }

    &__block--credits {
      padding: 60px 45px;

      .services__title {
        max-width: 235px;
        margin: -5px 0 13px;
      }
    }

    &__block--insurance {
      padding: 60px 45px;

      .services__title {
        max-width: 280px;
        margin: -5px 0 12px;
      }
    }

    &__block--online {
      padding: 60px 45px;

      .services__title {
        max-width: 335px;
        margin: -5px 0 12px;
      }

      .services__advantages-item {
        max-width: 340px;
      }
    }

    &__swiper-pagination {
      display: block;
      margin-bottom: 80px;
    }

    &__bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #2028b6;
      margin: 0 4px;
    }

    &__active-bullet {
      background-color: #e0e0e0;
    }
  }
}

@media (max-width: $mobile-width) {
  .services {
    min-height: 362px;
    padding-bottom: 60px;

    &__picture-tablet {
      display: none;
    }

    &__picture-mobile {
      display: block;
      width: 87px;
      height: 113px;
      position: absolute;
      right: 0;
      top: 98px;
    }

    &__block {
      min-height: 362px;
      padding: 60px 15px;
    }

    &__title {
      font-size: 16px;
      line-height: 22px;
      margin: -5px 0 13px;
      max-width: 100%;
    }

    &__advantages-item {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 4px;
      max-width: 235px;
      padding-left: 15px;

      &::before {
        width: 10px;
        height: 8px;
        top: 12px;
        left: -16px;
      }
    }

    &__link {
      margin-top: 20px;
      font-size: 14px;
      line-height: 16px;
      padding: 14px 0;
      width: 100%;
    }

    &__description {
      margin: 18px 0 0;
      font-size: 14px;
      line-height: 20px;
      max-width: 100%;
    }

    &__block--credits {

      .services__title {
        max-width: 80%;
      }
    }

    &__block--insurance {

      .services__title {
        max-width: 90%;
        min-height: 33px;
        margin: -5px 0 14px;
      }
    }

    &__block--online {
      padding: 60px 15px 51px;

      .services__title {
        max-width: 85%;
      }

      .services__advantages-item {
        max-width: 80%;
      }
    }

    &__swiper-pagination {
      margin-bottom: 53px;
    }

    &__bullet {
      width: 6px;
      height: 6px;
      margin: 0 3px;
    }
  }
}
