@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrap-mobile {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin wrap-tablet {
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 45px;
}

@mixin wrap-desktop {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 98px;
}

@mixin calc-input {
  display: block;
  width: 100%;
  border: 1px solid $black-color;
  border-radius: 4px;
  outline: none;
  font-family: $roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $black-color;
  text-align: center;
  padding: 18px 50px 15px;
}

@mixin desc-for-input {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #707c87;
}

@mixin overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}
