$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1366px;
$roboto: "Roboto", "Arial", sans-serif;
$bg-color: #f6f7ff;
$black-color: #1f1e25;
$blue-color: #2c36f2;
$vw-desktop: 1366;
$vw-tablet: 768;
$vw-mobile: 320;
